{% extends 'profiles/base_profiles.html' %}

{% load crispy_forms_tags %}

{% block title %} Login {% endblock %}

{% block content %}

    <div class="container my-4">
        <form class="form-group" action="" method="POST">
            <div class="form-group">
                {% csrf_token %}
                {{ form }}

                <button class="btn btn-success" type="submit"> Login </button>
                <p><a href="{% url 'register' %}"> Account create </a></p>
            </div>
        </form>
    </div>

{% endblock %}