<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <title>{% block title %}{% endblock %} | Personal Block </title>

        {% load static %}
        <!-- Bootstrap -->
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous"
        >

        <!-- Place your kit's code -->
        <script src="https://kit.fontawesome.com/04d43c352d.js"
                crossorigin="anonymous"
        >
        </script>

        <!-- Styles CORE -->
        <link rel="stylesheet" href="{% static 'core/css/core_style.css' %}">
        
        <!-- Styles BLOG -->
        <link rel="stylesheet" href="{% static 'blog/css/blog_style.css' %}">
        
        <!-- Styles ABOUT -->
        <link rel="stylesheet" href="{% static 'about/css/about_style.css' %}">
        
        <!-- Styles CONTACT -->
        <link rel="stylesheet" href="{% static 'contact/css/contact_style.css' %}">

    </head>

    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg py-3">
            <div class="container">
                <a class="navbar-brand" href="{% url 'blog_cards_list' %}" id="nav_links"> Brand </a>
                <button 
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blog_cards_list' %}" id="nav_links"> Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}" id="nav_links"> About </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'contact' %}" id="nav_links"> Contact </a>
                        </li>
                    </ul>

                    <!-- Login Admin -->
                    <a href="/admin/">
                        <button class="btn btn-outline-primary btn-sm" role="button" aria-pressed="true" id="button_access">
                                Access
                        </button>
                    </a>

                </div>
            </div>
        </nav>

        <!-- Content -->
        {% block content %}
        {% endblock %}

        <!-- Footer -->
        <footer class="footer text-center py-2">
            <div class="container">
                <div class="col-md-12 py-4">
                    {% if Link_Facebook %}
                    <a class="link" href="{{ Link_Facebook }}" id="footer_links">
                        <i class="fab fa-facebook-f mr-4 fa-2x"></i>
                    </a>
                    {% endif %}
                    {% if Link_Twitter %}
                    <a class="link" href="{{ Link_Twitter }}" id="footer_links">
                        <i class="fab fa-twitter mr-4 fa-2x"></i>
                    </a>
                    {% endif %}
                    {% if Link_Instagram %}
                    <a class="link" href="{{ Link_Instagram }}" id="footer_links">
                        <i class="fab fa-instagram  mr-4 fa-2x"></i>
                    </a>
                    {% endif %}
                    {% if Link_Linkedin %}
                    <a class="link" href="{{ Link_Linkedin }}" id="footer_links">
                        <i class="fab fa-linkedin-in mr-4 fa-2x"></i>
                    </a>
                    {% endif %}
                    {% if Link_Github %}
                    <a class="link" href="{{ Link_Github }}" id="footer_links">
                        <i class="fab fa-github mr-4 fa-2x"></i>
                    </a>
                    {% endif %}
                </div>

                <!-- Copyright -->
                <p id="date_footer"> 
                    &copy {% now 'Y' %} - 
                    <a href="https://www.giancarlov.com" id="date_footer"> giancarlov.com </a> 
                </p>
            </div>
        </footer>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous">
        </script>
    </body>
</html>

<!--
    Id styles:  These IDs are unique to CSS styles.
    File: static/core/css/core_style.css

    Jumbotron:

    Navbar:
    id="nav_links"
    id="button_access"

    Footer:
    id="footer_links"
    id="date_footer"
-->