
{% extends 'core/base.html' %}

{% block title %} About {% endblock %}

{% block content %}

    <div class="container">
        <div class="jumbotron my-5">
            <div class="row">
                <div class="col-md-12 col-xl-4">
                    <img class="img-fluid rounded"  height="586" width="439" src="" alt="potho of the author">
                </div>
                <div class="col-md-12 col-xl-8">
                    <h1 class="display-4 text-center"> Author Name </h1>
                    <p class="lead text-center"> My passion </p>
                    <hr class="my-4">
                    <p class="lead text-justify"> 
                        Lorem A ipsum dolor sit amet consectetur adipisicing elit. Laborum incidunt ullam nemo cupiditate, inventore officiis
                        id error nisi sint, asperiores velit aperiam praesentium commodi autem repellendus aliquam quae, molestiae quaerat. 
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius qui quis libero sed, quibusdam porro voluptates nobis 
                        assumenda consequuntur magnam laborum iste consectetur? Atque eum aspernatur, illo quae non iusto!
                    </p>
                </div>
            </div>  
        </div>
    </div>

{% endblock %}
