
{% extends 'core/base.html' %}

{% block title %} About {% endblock %}

{% load static %}

{% block content %}

    {% for about in model_about %}
    <div class="container">
        <div class="jumbotron my-5 text-center" id="jumbotron_about">
            <div class="row">
                <div class="col-md-12 col-xl-4 mb-5">
                    <img class="img-fluid rounded-circle"
                         height="350"
                         width="280"
                         src="{{ about.photo.url }}"
                         alt="potho_of_the_author"
                    >
                </div>
                <div class="col-md-12 col-xl-8">
                    <h1 class="display-4 font-weight-bold" id="title_subtitle"> {{ about.user }} </h1>
                    <p class="lead font-weight-bolder" id="title_and_subtitle"> {{ about.job }} </p>
                    <hr class="my-4">
                    <p class="text-justify" id="about_me">
                        {{ about.about_me }}
                    </p>
                </div>
            </div>  
        </div>
    </div>
    {% endfor %}

{% endblock %}

<!--
    Id styles:  These IDs are unique to CSS styles.
    File: static/about/css/about_style.css

    Jumbotron:
    id="jumbotron_about"
    id="title_subtitle"
    id="title_and_subtitle"
    id="about_me"
-->
