{% extends 'core/base.html' %}

{% block title %} Contact {% endblock %}

{% load crispy_forms_tags %}
{% crispy contact_form contact_form.helper %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-xl-7">
                <form class="m-5" action="">
                    <h1 class="pb-5 text-center"> Contact </h1>
                    {% csrf_token %}
                    {% crispy form %}
                </form>
            </div>
        </div>
    </div>

{% endblock %}
